parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Subscription\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 3
			path: src/Actions/WebhookAction.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Actions/WebhookAction.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Trigger\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Console/EventsDisableCommand.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Trigger\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Console/EventsEnableCommand.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<ZeroBoiler\\Events\\Models\\Trigger\>\:\:orderByPriority\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Console/EventsListCommand.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,stdClass\>\:\:map\(\) expects callable\(stdClass, int\)\: array\{string, string, string, string, ''N/A''\|\(lowercase\-string&non\-falsy\-string\), non\-falsy\-string\}, Closure\(ZeroBoiler\\Events\\Models\\EventLog\)\: array\{string, string, string, string, ''N/A''\|\(lowercase\-string&non\-falsy\-string\), non\-falsy\-string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/EventsLogCommand.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Subscription\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: src/Console/EventsRedeliverCommand.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\EventLog\:\:withStatus\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: src/Console/EventsRetryCommand.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,stdClass\>\:\:map\(\) expects callable\(stdClass, int\)\: array\{string, string, string, int, ''No''\|''Yes'', int, non\-falsy\-string, non\-falsy\-string\}, Closure\(ZeroBoiler\\Events\\Models\\Subscription\)\: array\{string, string, string, int, ''No''\|''Yes'', int, non\-falsy\-string, non\-falsy\-string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/EventsSubscriptionsCommand.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<ZeroBoiler\\Events\\Models\\Subscription\>\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EventManager.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<ZeroBoiler\\Events\\Models\\Subscription\>\:\:orderByPriority\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EventManager.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\EventLog\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/EventManager.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Subscription\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: src/EventManager.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Trigger\:\:enabled\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/EventManager.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Trigger\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: src/EventManager.php

		-
			message: '#^Using nullsafe property access "\?\-\>timestamp" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/EventManager.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\EventLog\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Jobs/DispatchTriggerJob.php

		-
			message: '#^Call to an undefined static method ZeroBoiler\\Events\\Models\\Trigger\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Jobs/DispatchTriggerJob.php

		-
			message: '#^Method ZeroBoiler\\Events\\Models\\EventLog\:\:trigger\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<ZeroBoiler\\Events\\Models\\Trigger, ZeroBoiler\\Events\\Models\\EventLog\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<ZeroBoiler\\Events\\Models\\Trigger, \$this\(ZeroBoiler\\Events\\Models\\EventLog\)\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/EventLog.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class Eloquent\.$#'
			identifier: class.notFound
			count: 1
			path: src/Models/EventLog.php

		-
			message: '#^Method ZeroBoiler\\Events\\Models\\Subscription\:\:scopeOrderByPriority\(\) should return Illuminate\\Database\\Eloquent\\Builder\<ZeroBoiler\\Events\\Models\\Subscription\> but returns Illuminate\\Database\\Query\\Builder\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class Eloquent\.$#'
			identifier: class.notFound
			count: 1
			path: src/Models/Subscription.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<ZeroBoiler\\Events\\Models\\EventLog\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: src/Models/Trigger.php

		-
			message: '#^Method ZeroBoiler\\Events\\Models\\Trigger\:\:eventLogs\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<ZeroBoiler\\Events\\Models\\EventLog\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<ZeroBoiler\\Events\\Models\\EventLog, \$this\(ZeroBoiler\\Events\\Models\\Trigger\)\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Trigger.php

		-
			message: '#^Method ZeroBoiler\\Events\\Models\\Trigger\:\:scopeOrderByPriority\(\) should return Illuminate\\Database\\Eloquent\\Builder\<ZeroBoiler\\Events\\Models\\Trigger\> but returns Illuminate\\Database\\Query\\Builder\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Trigger.php

		-
			message: '#^PHPDoc tag @mixin contains unknown class Eloquent\.$#'
			identifier: class.notFound
			count: 1
			path: src/Models/Trigger.php
