includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src/
    excludePaths:
        - tests/*
    bootstrapFiles:
        - vendor/autoload.php
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Eloquent model magic properties are handled via @property annotations
        - '#Access to an undefined property#'
